<ul>
  {{#each products}}
  <li>{{id}}</li>
  <li>{{product_name}}</li>

  <li>{{product.ingredients}}</li>
  <li>{{product_Id}}</li>
  <li>{{ingredients}}</li>
  <li>{{plastic_free}}</li>
  <li>{{reusable}}</li>
  <li>{{price}}</li>
  <li>{{stylish}}</li>
  <li>{{environmental_impact}}</li>
  <li>{{external_link}}</li>
  <li>{{fun_fact}}</li>
  <li>{{source}}</li>

  {{!-- <li>{{image}}</li> --}}

  {{/each}}
</ul>