{{#each products}}

  <div class="container">
    <h4>{{this.product_name}}</h4>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s10"><p>{{product_description}} ["product_description" TEXT WOULD MERGE HERE. For now, we have... "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, hic. Enim minima obcaecati officiis deserunt dolore. Quas, temporibus omnis, repellendus asperiores sed similique iste eum natus, laborum sequi dolores aperiam."]</p></div>
      <div class="col s2"><img src="../assets/images/001-beatuy_and_personal_care.png" alt="beauty_personal_care" height="45" width="45"></div>
    </div>
  </div>

{{/each}}


  <div class="container">
    <h4>Product List</h4>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <div class="card #8bc34a light-green">
          <div class="card-content white-text">
            <span class="card-title">{{product_name}}</span>
            <p>description</p>
          </div>
          <div class="card-action">
            <a href="#" class="white-text">Action 1</a>
            <a href="#" class="white-text">Action 2</a>
          </div>
        </div>
      </div>
    </div>
  </div>


<ul>
<<<<<<< HEAD
  
  <li>{{id}}</li>
  <li>{{product_name}}</li>

  <li>{{product.ingredients}}</li>
=======
  {{#each productOptions}}
  {{!-- <li>{{id}}</li>
  <li>{{product_name}}</li> --}}
{{!-- 
  <li>{{product.ingredients}}</li> --}}
>>>>>>> master
  <li>{{product_Id}}</li>
  <li>{{ingredients}}</li>
  <li>{{plastic_free}}</li>
  <li>{{reusable}}</li>
  <li>{{price}}</li>
  <li>{{stylish}}</li>
  <li>{{environmental_impact}}</li>
  <li>{{external_link}}</li>
  <li>{{fun_fact}}</li>
  <li>{{source}}</li>

  {{!-- <li>{{image}}</li> --}}

  
</ul>

