  <div class="container">
    {{#with product.[0]}}
      <h4>{{product_name}}</h4>
    {{/with}}
  </div>

  {{#each product}}
  <div class="container">
    <div class="row">
      <div class="col s10"><p>{{product_description}}</p></div>
      <div class="col s2"><img src="{{icon}}" alt="beauty_personal_care" height="45" width="45"></div>
    </div>
  </div>
  {{/each}}

  
  <div class="container">
    <h4>Product List</h4>
  </div>

  {{#each productOptions}}
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card #8bc34a light-green">
          <div class="card-content white-text">
            <span class="card-title">{{productOption_name}}</span>
            <p>{{environmental_impact}}</p>
            <h5><strong>Fun Fact:</strong></h5>
            <p>{{fun_fact}}</p>
          </div>
          <div class="card-action">
            <a href="{{external_link}}" target="_blank" class="white-text"><img src="{{image}}" height="60" width="60"></a>
            <a href="{{source}}" target="_blank" class="white-text">See Source</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}


<ul>
  
  <li>{{id}}</li>
  <li>{{product_name}}</li>

  <li>{{product.ingredients}}</li>
  <li>{{product_Id}}</li>
  <li>{{ingredients}}</li>
  <li>{{plastic_free}}</li>
  <li>{{reusable}}</li>
  <li>{{price}}</li>
  <li>{{stylish}}</li>
  <li>{{environmental_impact}}</li>
  <li>{{external_link}}</li>
  <li>{{fun_fact}}</li>
  <li>{{source}}</li>
  
</ul>


